body{
	background-color: #2C2C32;
	text-align: center;
	color: white;
}
/*菜单标题*/
.app-name{
	padding: 30px;
	font-size: 20px;
}
.app-name a{
	margin-left: 16px;
	font-size: 16px;
	color: #53D9EF;
}
/*iPhone*/
.demo-li{
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.iPhone{
	position: relative;
	display: inline-block;
	border: 1px solid white;
	border-radius: 40px;
	padding: 70px 10px;
}
.iPhone .gif{
	min-width: 320px;
	min-height: 562px;
}
.iPhone .qrcode{
	width: 260px;
	height: 260px;
	border: 1px solid white;
	background-size: contain;
}
.iPhone:before{
	position: absolute;
	top: 30px;
	left: 50%;
	content: '';
	display: inline-block;
	width: 80px;
	height: 8px;
	margin-left: -40px;
	border: 1px solid white;
	border-radius: 8px;
}
.iPhone:after{
	position: absolute;
	left: 50%;
	bottom: 15px;
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	border: 1px solid white;
	border-radius: 50%;
}
/*标题*/
.demo-title{
	font-size: 18px;
	padding: 18px 0;
}
/*线框按钮*/
.btn-line{
	display: inline-block;
	font-size: 14px;
	margin: 10px;
	padding: 8px 30px;
	border: 1px solid #53D9EF;
	border-radius: 20px;
	color: #53D9EF;
	cursor: pointer;
}